<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF8qBHpKf2iwiDkPe8EBecU-TPreTDp78</string>
	<key>GCM_SENDER_ID</key>
	<string>820256283325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>giro.giroJogos</string>
	<key>PROJECT_ID</key>
	<string>giro-jogos</string>
	<key>STORAGE_BUCKET</key>
	<string>giro-jogos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820256283325:ios:f70d86331ccda4a3c7f5d4</string>
</dict>
</plist>